
BODY{
	background-attachment: fixed;
	background-image: url('img/Boston.JPG');
	-webkit-background-size: cover;
	-moz-bacgkround-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.linkDisplayedInFeed{
	color: #CF5335;
}
.feedHeader{
	width:100%;
	display: inline-block;
}
.feed h4{
	margin-top: 10px;
	margin-bottom: 10px;
}
.collapseFeed{
	border-radius: 100%;
	position: relative;
	height:25px;
	width:25px;
	margin-top: 5px;
	margin-right: 5px;
   	-webkit-transition:background-color .1s linear;
	-moz-transition:background-color .1s linear;
	-o-transition:background-color .1s linear;
}

.feed_list p a{
	font-size: 90%;
}

.feed_list li span a{
	font-weight:bold;
	font-size: 90%;
}

.collapseFeed:hover{
	/*background-color: #CF5335;*/
}

.feedContainer{

	background-color: #F2F5FA;
	box-shadow: 0 2px 10px  #666 ;
	min-width: 600px;
	width: 30%;
	float: left;
	position: absolute;
	top: 0px;
	left: -700px;
	margin-top: 2.5%;
	margin-left:2.5%;
	padding-bottom: 20px;
}

.feed{
	max-height: 550px;
	overflow: auto;	
	position: relative;
	top:-10px;
	padding: 0px 0px 0px 0px;
	width: 415px;
   	background-color: #F2F5FA;
   	margin:0px auto;
}

.feedHeader img{
	position:relative;
	height:100px;
	width: 100px;
	top:5px;
	left:10px;

}
.feedHeader div{
	display: inline-block;
	margin: auto;
	position:relative;
	bottom: 12px;
}

.container{
	display: block;
	background-color: #F2F5FA;
	padding:5% 5% 5% 5%;
	box-shadow: 0 2px 10px  #666 ;
	float:right;
	position: absolute;
	top:0%;
	right:0%;
	height:20%;
	margin-top:2.5%;
	margin-right:2.5%;
	min-height: 185px;
	white-space: nowrap;
	min-width: 245px; /* IE ignores this */
	width:15%; /* All browsers apply this rule */
	*width: 300px; /* IE applies this rule, all others ignore it because of the asterisk. and because it comes AFTER the 15% rule, IE overwrites the 15% */
	*height:255px;
}
.container p{
	color: #5C5755;
	margin-top: 2%;
	margin-bottom: 2%;
}

a{
	color:#5C5755;
	font-style: none;
	text-decoration: none;
	-webkit-transition:color .2s linear;
	-moz-transition:color .2s linear;
	-o-transition:color .2s linear;
}

a:hover{
		color: #CF5335;
}

#links{
	float: left;
	position: absolute;
	top:50%;
	*top:45%;
	left: 10%;
	font-size: 1.1em;
}

h3{
display: inline;
}

.container img{
	position:absolute;
	top:5%;
	left: 9%;
	display: block;
	width: 30%;
	border-radius: 10px;
	min-height: 60px;
	min-width:	45px;
	margin: 0px 0px 0px 0px;

}

.right{
	float:right;
	position: absolute;
	top:8%;
	right: 8%;
	padding:5px 5px 5px 5px;
	margin: 2px 2px 2px 2px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	min-width: 100px;
	*width:175px;
	text-align: center;
}

hr{
	margin:0px 0px 0px 0px;
}

.IEMessage{
	display:block;
	position: relative;
	top:0px;
	background-color:#F2F5FA;
	border-radius: 5px;
	border: ;
	width: 500px;
	height: 20px;
	color: #CF5335;
	margin-left: auto;
	margin-right: auto;
	z-index: 999999;
}
.IEMessage p{
	position: relative;
	margin-top: 0px;
	text-align: center;
}