<!-- Contact Section -->
<section id="Interests" class="container content-section text-center">
  <div class="row">
      <div class="col-lg-2"></div>
      <!--<div class="col-lg-8 col-lg-offset-2">-->
      <div class="col-lg-8">
          <h2>Interests</h2>
      </div>
      <div class="col-lg-2">
      </div>
  </div>
  <div class="row">
    <!--<div class="col-lg-1">test</div>-->
    <div class="col-lg-4">
      <div class="horz-element">
      <h3>Travel</h3>
      <p>My wife, Lucia, and I love traveling together. A couple of years ago most of our travel was within the Americas and Europe. When I was offered the chance to work and live in Sydney, Australia, we jumped at the opportunity. How could we pass that up?</p>
      <p>Since our move we've seen some of most naturally beautiful places in the world, and also some of the most historical. We've been truly fortunate.</p>
      <p>Just before our move, we decided to keep an online diary of our trips so our families could keep up to date -- while we're a few trips behind, feel free to <a target='_blank' href='http://travel.ajleonardi.co'>read about some of the places we've been to</a>.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="horz-element">
      <h3>Technology and Startups</h3>
      <p>Coming from a strong technology background, I've found it hard to stay away 100% -- despite my job being much more business focused these days. I try to keep as up to date as I can on tech trends through reading and hands on experience.</p>
      <p>Entrepreneurship has also been an interest of mine for a while. While in Boston, I participated in python and django hack nights, Startup Weekend, and other meetups that were geared towards the startup scene. I've kept up with this a bit in Sydney, but to a lesser extent.</p>
      <p>While I don't write down my thoughts about entrepreneurship or technology much, it does happen occasionally and those thoughts can be found <a target='_blank' href='http://blog.ajleonardi.co'>here</a>.
    </div>
    </div>
    <div class="col-lg-4">
      <div class="horz-element">
      <h3>Reading</h3>
      <p>Before coming to Sydney, I hadn't been a keen reader. As part of our "fresh start", I suggested my wife and I avoid getting a TV, and instead spend better quality time together. While this did turn into a bit of huddling around my 13" MacBook Pro to watch streamed episodes of homeland -- a lot of my time with Lucia turned into exploring the city, listening to interesting podcasts together, and, of course, reading.</p>
      <p>I went from about 2 books a year to 13 and it was fantastic. A large part of the change was finding my love of novels (I used to only read non-fiction because I thought it was a waste of time otherwise...says the guy watching hours of TV) -- but I still find the time to read a business or management book here and there.</p>
      </div>
    </div>
    <!--<div class="col-lg-1">tests</div>-->
  </div>
</section>
