
<section id="Projects" class="container content-section text-center alt-bkg" style="margin:0px; width: 100%;">
      <div class="row">
          <div class="col-lg-2"></div>
          <!--<div class="col-lg-8 col-lg-offset-2">-->
          <div class="col-lg-8">
              <h2>Projects</h2>
          </div>
          <div class="col-lg-2">
          </div>
      </div>
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
          <div class="horz-element">
          <h3>Hacking Seconds</h3>
          <p>I'm a bit of a watch geek. In my spare time I've been building a social network for watch collectors. It has a few users, but the project is more for me to work on my dev skills than anything else.</p>
          <p>You can check it out at <a target='_blank' href='http://www.hackingseconds.com'>HackingSeconds.com</a>, and my "profile" <a target='_blank' href='http://www.hackingseconds.com/Anthony'>here</a>. Also take a look at my HackingSeconds instagram acct <a target='_blank' href='https://instagram.com/HackingSeconds'>here</a> (it's way more popular than my personal one).</p>
          <p>The back-end is <a target='_blank' href="https://www.python.org/">python</a>/<a target='_blank' href='https://www.djangoproject.com/'>django</a>. The front-end is <a target='_blank' href='http://getbootstrap.com/'>bootstrap</a> -- and I'll be the first to admit that I'm no designer.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="horz-element">
          <h3>Hosted Tutorials</h3>
          <p>When I got tired of explaining Facebook to my mom, I decided to create a browser extension that lets people create and share tutorials on any website. With my browser plugin, if my mom wanted to know how to post something on Facebook or send an email in Gmail, I could just click on the area of the web-app in question and fill out a simple form. The result is a popover with text or a YouTube video explaining everything I wanted her to know -- but in context and in front of her eyes.</p>
          <p>The code is a mess (it was my first web project), but you can check out the source <a target='_blank' href='https://github.com/AJLeonardi/Tutorial_Platform'>here</a>. I ultimately want to rewrite it with a <a target='_blank' href='https://www.djangoproject.com/'>django</a> back-end.</p>
        </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
</section>
