<!-- Contact Section -->
<section id="Testimonials" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Testimonials</h2>
            <p>"He's a leader on any team, and a key SME to start with when building a team. A true pleasure to work with.” - <a target='_blank' href='https://www.linkedin.com/pub/chuck-strahlendorff/0/736/7b8'>Chuck Strahlendorff</a></p>
            <p>“Anthony doesn’t micromanage his resources. This not only lets them focus, but also gives them a sense that he trusts them to get the work done.” - <a target='_blank' href='https://www.linkedin.com/pub/nicholas-thomas/44/586/aa3'>Nick Thomas</a></p>
            <p>"If there’s a blocker, he makes sure it is removed so that development can continue in a timely manner...His leadership is invaluable.” - <a target='_blank' href='https://www.linkedin.com/in/veronicapayan'>Veronica Payan</a></p>
            <p>"Anthony has an aptitude for aesthetics and understanding clients that makes him stand out from the thousands of Sales Consultants that have passed through my company. “ - <a target='-_blank' href="https://www.linkedin.com/pub/stacy-flores/8/934/623">Stacy Flores</a></p>
            <p>"I believe Anthony is one of the brightest minds I have come across in a very long time.” - <a target='_blank' href='https://www.linkedin.com/in/bobbeaver'>Bob Beaver</a></p>
        </div>
    </div>
</section>
